<h1>Titles Youve Been</h1>
<form action="/CDs-list" method="post">
  <label for="new-Title">Title: </label>
  <input id="new-Title" name="new-Title" type="text">
  <label for="new-Album">Album: </label>
  <input id="new-Album" name="new-Album" type="text">
  <label for="new-Artist">Artist: </label>
  <input id="new-Artist" name="new-Artist" type="text">
  <button type="submit">Submit</button>
</form>
